In [ ]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.3-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.3

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
covertype = fetch_ucirepo(id=31)

# data (as pandas dataframes)
X = covertype.data.features
y = covertype.data.targets

# metadata
print(covertype.metadata)

# variable information
print(covertype.variables)

{'uci_id': 31, 'name': 'Covertype', 'repository_url': 'https://archive.ics.uci.edu/dataset/31/covertype', 'data_url': 'https://archive.ics.uci.edu/static/public/31/data.csv', 'abstract': 'Classification of pixels into 7 forest cover types based on attributes such as elevation, aspect, slope, hillshade, soil-type, and more.', 'area': 'Biology', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 581012, 'num_features': 52, 'feature_types': ['Categorical', 'Integer'], 'demographics': [], 'target_col': None, 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1998, 'last_updated': 'Fri Oct 27 2023', 'dataset_doi': '10.24432/C50K5N', 'creators': ['Jock Blackard'], 'intro_paper': None, 'additional_info': {'summary': 'Predicting forest cover type from cartographic variables only (no remotely sensed data).  The actual forest cover type for a given observation (30 x 30 meter cell) was determined from US Forest Service (USFS) Region 2 Resource Information System (RIS) data.  Independent variables were derived from data originally obtained from US Geological Survey (USGS) and USFS data.  Data is in raw form (not scaled) and contains binary (0 or 1) columns of data for qualitative independent variables (wilderness areas and soil types).\r\n\r\nThis study area includes four wilderness areas located in the Roosevelt National Forest of northern Colorado.  These areas represent forests with minimal human-caused disturbances, so that existing forest cover types are more a result of ecological processes rather than forest management practices.\r\n\r\nSome background information for these four wilderness areas: Neota (area 2) probably has the highest mean elevational value of the 4 wilderness areas. Rawah (area 1) and Comanche Peak (area 3) would have a lower mean elevational value, while Cache la Poudre (area 4) would have the lowest mean elevational value. \r\n\r\nAs for primary major tree species in these areas, Neota would have spruce/fir (type 1), while Rawah and Comanche Peak would probably have lodgepole pine (type 2) as their primary species, followed by spruce/fir and aspen (type 5). Cache la Poudre would tend to have Ponderosa pine (type 3), Douglas-fir (type 6), and cottonwood/willow (type 4).  \r\n\r\nThe Rawah and Comanche Peak areas would tend to be more typical of the overall dataset than either the Neota or Cache la Poudre, due to their assortment of tree species and range of predictive variable values (elevation, etc.)  Cache la Poudre would probably  be more unique than the others, due to its relatively low  elevation range and species composition. ', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Given is the attribute name, attribute type, the measurement unit and a brief description.  The forest cover type is the classification  problem.  The order of this listing corresponds to the order of numerals along the rows of the database.\r\n\r\nName / Data Type / Measurement / Description\r\n\r\nElevation / quantitative /meters / Elevation in meters\r\nAspect / quantitative / azimuth / Aspect in degrees azimuth\r\nSlope / quantitative / degrees / Slope in degrees\r\nHorizontal_Distance_To_Hydrology / quantitative / meters / Horz Dist to nearest surface water features\r\nVertical_Distance_To_Hydrology / quantitative / meters / Vert Dist to nearest surface water features\r\nHorizontal_Distance_To_Roadways / quantitative / meters / Horz Dist to nearest roadway\r\nHillshade_9am / quantitative / 0 to 255 index / Hillshade index at 9am, summer solstice\r\nHillshade_Noon / quantitative / 0 to 255 index / Hillshade index at noon, summer soltice\r\nHillshade_3pm / quantitative / 0 to 255 index / Hillshade index at 3pm, summer solstice\r\nHorizontal_Distance_To_Fire_Points / quantitative / meters / Horz Dist to nearest wildfire ignition points\r\nWilderness_Area (4 binary columns) / qualitative / 0 (absence) or 1 (presence) / Wilderness area designation\r\nSoil_Type (40 binary columns) / qualitative / 0 (absence) or 1 (presence) / Soil Type designation\r\nCover_Type (7 types) / integer / 1 to 7 / Forest Cover Type designation', 'citation': None}}
                                  name     role     type demographic  \
0                            Elevation  Feature  Integer        None
1                               Aspect  Feature  Integer        None
2                                Slope  Feature  Integer        None
3     Horizontal_Distance_To_Hydrology  Feature  Integer        None
4       Vertical_Distance_To_Hydrology  Feature  Integer        None
5      Horizontal_Distance_To_Roadways  Feature  Integer        None
6                        Hillshade_9am  Feature  Integer        None
7                       Hillshade_Noon  Feature  Integer        None
8                        Hillshade_3pm  Feature  Integer        None
9   Horizontal_Distance_To_Fire_Points  Feature  Integer        None
10                     Wilderness_Area  Feature  Integer        None
11                          Soil_Type1  Feature  Integer        None
12                          Soil_Type2  Feature  Integer        None
13                          Soil_Type3  Feature  Integer        None
14                          Soil_Type4  Feature  Integer        None
15                          Soil_Type5  Feature  Integer        None
16                          Soil_Type6  Feature  Integer        None
17                          Soil_Type7  Feature  Integer        None
18                          Soil_Type8  Feature  Integer        None
19                          Soil_Type9  Feature  Integer        None
20                         Soil_Type10  Feature  Integer        None
21                         Soil_Type11  Feature  Integer        None
22                         Soil_Type12  Feature  Integer        None
23                         Soil_Type13  Feature  Integer        None
24                         Soil_Type14  Feature  Integer        None
25                         Soil_Type15  Feature  Integer        None
26                         Soil_Type16  Feature  Integer        None
27                         Soil_Type17  Feature  Integer        None
28                         Soil_Type18  Feature  Integer        None
29                         Soil_Type19  Feature  Integer        None
30                         Soil_Type20  Feature  Integer        None
31                         Soil_Type21  Feature  Integer        None
32                         Soil_Type22  Feature  Integer        None
33                         Soil_Type23  Feature  Integer        None
34                         Soil_Type24  Feature  Integer        None
35                         Soil_Type25  Feature  Integer        None
36                         Soil_Type26  Feature  Integer        None
37                         Soil_Type27  Feature  Integer        None
38                         Soil_Type28  Feature  Integer        None
39                         Soil_Type29  Feature  Integer        None
40                         Soil_Type30  Feature  Integer        None
41                         Soil_Type31  Feature  Integer        None
42                         Soil_Type32  Feature  Integer        None
43                         Soil_Type33  Feature  Integer        None
44                         Soil_Type34  Feature  Integer        None
45                         Soil_Type35  Feature  Integer        None
46                         Soil_Type36  Feature  Integer        None
47                         Soil_Type37  Feature  Integer        None
48                         Soil_Type38  Feature  Integer        None
49                         Soil_Type39  Feature  Integer        None
50                         Soil_Type40  Feature  Integer        None
51                          Cover_Type  Feature  Integer        None

   description units missing_values
0         None  None             no
1         None  None             no
2         None  None             no
3         None  None             no
4         None  None             no
5         None  None             no
6         None  None             no
7         None  None             no
8         None  None             no
9         None  None             no
10        None  None             no
11        None  None             no
12        None  None             no
13        None  None             no
14        None  None             no
15        None  None             no
16        None  None             no
17        None  None             no
18        None  None             no
19        None  None             no
20        None  None             no
21        None  None             no
22        None  None             no
23        None  None             no
24        None  None             no
25        None  None             no
26        None  None             no
27        None  None             no
28        None  None             no
29        None  None             no
30        None  None             no
31        None  None             no
32        None  None             no
33        None  None             no
34        None  None             no
35        None  None             no
36        None  None             no
37        None  None             no
38        None  None             no
39        None  None             no
40        None  None             no
41        None  None             no
42        None  None             no
43        None  None             no
44        None  None             no
45        None  None             no
46        None  None             no
47        None  None             no
48        None  None             no
49        None  None             no
50        None  None             no
51        None  None             no

In [ ]:
X.describe()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
count,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,...,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000
mean,269.428217,46.418855,2350.146611,212.146049,223.318716,142.528263,1980.291226,0.448865,0.051434,0.436074,...,0.090392,0.077716,0.002773,0.003255,0.000205,0.000513,0.026803,0.023762,0.015060,2.051471
std,212.549356,58.295232,1559.254870,26.769889,19.768697,38.274529,1324.195210,0.497379,0.220882,0.495897,...,0.286743,0.267725,0.052584,0.056957,0.014310,0.022641,0.161508,0.152307,0.121791,1.396504
min,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,1024.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,218.000000,30.000000,1997.000000,218.000000,226.000000,143.000000,1710.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,384.000000,69.000000,3328.000000,231.000000,237.000000,168.000000,2550.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,7173.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
individual_household_electric_power_consumption = fetch_ucirepo(id=235)

# data (as pandas dataframes)
X = individual_household_electric_power_consumption.data.features
y = individual_household_electric_power_consumption.data.targets

# metadata
print(individual_household_electric_power_consumption.metadata)

# variable information
print(individual_household_electric_power_consumption.variables)

/usr/local/lib/python3.10/dist-packages/ucimlrepo/fetch.py:97: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_url)

{'uci_id': 235, 'name': 'Individual household electric power consumption', 'repository_url': 'https://archive.ics.uci.edu/dataset/235/individual+household+electric+power+consumption', 'data_url': 'https://archive.ics.uci.edu/static/public/235/data.csv', 'abstract': 'Measurements of electric power consumption in one household with a one-minute sampling rate over a period of almost 4 years. Different electrical quantities and some sub-metering values are available.', 'area': 'Physics and Chemistry', 'tasks': ['Regression', 'Clustering'], 'characteristics': ['Multivariate', 'Time-Series'], 'num_instances': 2075259, 'num_features': 9, 'feature_types': ['Real'], 'demographics': [], 'target_col': None, 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2006, 'last_updated': 'Tue Jan 09 2024', 'dataset_doi': '10.24432/C58K54', 'creators': ['Georges Hebrail', 'Alice Berard'], 'intro_paper': None, 'additional_info': {'summary': 'This archive contains 2075259 measurements gathered in a house located in Sceaux (7km of Paris, France) between December 2006 and November 2010 (47 months).\r\nNotes: \r\n1.(global_active_power*1000/60 - sub_metering_1 - sub_metering_2 - sub_metering_3) represents the active energy consumed every minute (in watt hour) in the household by electrical equipment not measured in sub-meterings 1, 2 and 3.\r\n2.The dataset contains some missing values in the measurements (nearly 1,25% of the rows). All calendar timestamps are present in the dataset but for some timestamps, the measurement values are missing: a missing value is represented by the absence of value between two consecutive semi-colon attribute separators. For instance, the dataset shows missing values on April 28, 2007.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '1.date: Date in format dd/mm/yyyy\r\n2.time: time in format hh:mm:ss\r\n3.global_active_power: household global minute-averaged active power (in kilowatt)\r\n4.global_reactive_power: household global minute-averaged reactive power (in kilowatt)\r\n5.voltage: minute-averaged voltage (in volt)\r\n6.global_intensity: household global minute-averaged current intensity (in ampere)\r\n7.sub_metering_1: energy sub-metering No. 1 (in watt-hour of active energy). It corresponds to the kitchen, containing mainly a dishwasher, an oven and a microwave (hot plates are not electric but gas powered).\r\n8.sub_metering_2: energy sub-metering No. 2 (in watt-hour of active energy). It corresponds to the laundry room, containing a washing-machine, a tumble-drier, a refrigerator and a light.\r\n9.sub_metering_3: energy sub-metering No. 3 (in watt-hour of active energy). It corresponds to an electric water-heater and an air-conditioner.', 'citation': None}}
                    name     role         type demographic description units  \
0                   Date  Feature         Date        None        None  None
1                   Time  Feature  Categorical        None        None  None
2    Global_active_power  Feature   Continuous        None        None  None
3  Global_reactive_power  Feature   Continuous        None        None  None
4                Voltage  Feature   Continuous        None        None  None
5       Global_intensity  Feature   Continuous        None        None  None
6         Sub_metering_1  Feature   Continuous        None        None  None
7         Sub_metering_2  Feature   Continuous        None        None  None
8         Sub_metering_3  Feature   Continuous        None        None  None

  missing_values
0             no
1             no
2             no
3             no
4             no
5             no
6             no
7             no
8             no

In [ ]:
print(type(individual_household_electric_power_consumption.data.features))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
individual_household_electric_power_consumption.data.features.describe()

       Sub_metering_3
count    2.049280e+06
mean     6.458447e+00
std      8.437154e+00
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.700000e+01
max      3.100000e+01

In [ ]:
import pandas as pd

columns = X.columns
X[columns[2:]] = X[columns[2:]].apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [ ]:
data_dist = X[columns[2:]].describe()
data_dist

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00,1.298520e+00,6.458447e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00,5.822026e+00,8.437154e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01

In [ ]:
import pandas as pd
import numpy as np
import itertools
from scipy.stats import expon

# Load your data distribution from a CSV file
csv_file = 'your_data_distribution.csv'  # Update this path to your CSV file
data = data_dist#pd.read_csv(csv_file)

# Define the numeric attributes you want to generate queries for
numeric_attributes = ['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity',
                      'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']

# Function to generate query centers and widths
def generate_query_parameters(attr_min, attr_max, distribution='uniform'):
    if distribution == 'uniform':
        center = np.random.randint(attr_min, attr_max + 1)
        width = np.random.randint(1, attr_max - attr_min + 1)
    else:  # Exponential distribution for data-centric
        scale = (attr_max - attr_min) / 3
        width = int(expon(scale=scale).rvs())
        center = np.random.randint(attr_min, attr_max + 1)
    return center, width

# Generate SQL queries
num_queries = 200
queries = []

for _ in range(num_queries):
    # Randomly select the number of dimensions (attributes) for the query
    num_attrs = np.random.randint(2, len(numeric_attributes) + 1)
    selected_attrs = np.random.choice(numeric_attributes, size=num_attrs, replace=False)

    conditions = []
    for attr in selected_attrs:
        attr_min, attr_max = data[attr].min(), data[attr].max()  # Assuming min and max values are representative
        center, width = generate_query_parameters(attr_min, attr_max, distribution='uniform')
        min_val = max(attr_min, center - width // 2)
        max_val = min(attr_max, center + width // 2)
        conditions.append(f"'{attr}' BETWEEN {min_val} AND {max_val}")

    query = "SELECT * FROM your_table WHERE " + " AND ".join(conditions) + ";"
    queries.append(query)

# Optionally, save the queries to a file
with open('generated_queries.sql', 'w') as f:
    for query in queries:
        print(query)
        f.write("%s\n" % query)

print("Queries generated and saved to generated_queries.sql")

SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 641535 AND 1386335 AND 'Global_active_power' BETWEEN 472687 AND 2049280.0;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 643246 AND 2028864 AND 'Sub_metering_1' BETWEEN 1629517 AND 2049280.0 AND 'Global_intensity' BETWEEN 312842 AND 1079860 AND 'Global_reactive_power' BETWEEN 0.0 AND 1237191 AND 'Sub_metering_3' BETWEEN 451004 AND 1212270;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 1234701 AND 1427311 AND 'Global_reactive_power' BETWEEN 873483 AND 2049280.0 AND 'Global_intensity' BETWEEN 61728 AND 1528110 AND 'Sub_metering_2' BETWEEN 155182 AND 861636 AND 'Voltage' BETWEEN 81925 AND 836689 AND 'Sub_metering_1' BETWEEN 241754 AND 1323484 AND 'Global_active_power' BETWEEN 358510 AND 1319026;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 595086 AND 1078540 AND 'Voltage' BETWEEN 3.2399866790095677 AND 1300718 AND 'Global_active_power' BETWEEN 0.076 AND 1458735 AND 'Sub_metering_3' BETWEEN 304733 AND 1830863 AND 'Global_reactive_power' BETWEEN 905687 AND 1196085;
SELECT * FROM your_table WHERE 'Global_reactive_power' BETWEEN 605217 AND 2049280.0 AND 'Global_intensity' BETWEEN 538795 AND 1461977;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 1505938 AND 2049280.0 AND 'Sub_metering_3' BETWEEN 0.0 AND 776492 AND 'Sub_metering_2' BETWEEN 1273452 AND 2049280.0 AND 'Voltage' BETWEEN 1072103 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 92048 AND 549294;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 565158 AND 2049280.0 AND 'Global_active_power' BETWEEN 0.076 AND 1496671 AND 'Global_reactive_power' BETWEEN 300199 AND 684011 AND 'Sub_metering_2' BETWEEN 0.0 AND 911110 AND 'Sub_metering_3' BETWEEN 1026495 AND 2049280.0 AND 'Voltage' BETWEEN 430910 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 209966 AND 1288386;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 0.0 AND 1210453 AND 'Sub_metering_2' BETWEEN 689784 AND 2049280.0 AND 'Global_reactive_power' BETWEEN 0.0 AND 734034;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 212780 AND 1571452 AND 'Sub_metering_1' BETWEEN 0.0 AND 1539336 AND 'Global_reactive_power' BETWEEN 0.0 AND 1172613 AND 'Global_intensity' BETWEEN 702635 AND 2049280.0 AND 'Sub_metering_3' BETWEEN 0.0 AND 1047019;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 405769 AND 797661 AND 'Global_intensity' BETWEEN 1134486 AND 1467902 AND 'Global_reactive_power' BETWEEN 97189 AND 1418035 AND 'Sub_metering_1' BETWEEN 584233 AND 655671 AND 'Global_active_power' BETWEEN 0.076 AND 1444291;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 0.0 AND 1097000 AND 'Global_active_power' BETWEEN 0.076 AND 965378;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 511696 AND 1450014 AND 'Sub_metering_2' BETWEEN 639683 AND 2039901 AND 'Voltage' BETWEEN 3.2399866790095677 AND 757649 AND 'Global_reactive_power' BETWEEN 1348846 AND 1351850 AND 'Global_intensity' BETWEEN 816599 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 0.0 AND 1446973 AND 'Global_active_power' BETWEEN 208258 AND 1598464;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 115159 AND 602005 AND 'Global_reactive_power' BETWEEN 1442409 AND 2049280.0;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 898124 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 528962 AND 1131616 AND 'Sub_metering_3' BETWEEN 0.0 AND 956087 AND 'Global_intensity' BETWEEN 1039067 AND 2002015 AND 'Global_reactive_power' BETWEEN 953160 AND 1052246 AND 'Sub_metering_1' BETWEEN 0.0 AND 524248 AND 'Voltage' BETWEEN 975476 AND 1559344;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 527153 AND 1854767 AND 'Global_active_power' BETWEEN 0.076 AND 1217720 AND 'Sub_metering_3' BETWEEN 433345 AND 2049280.0 AND 'Global_reactive_power' BETWEEN 0.0 AND 859337;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 1249889 AND 1272719 AND 'Global_active_power' BETWEEN 1192642 AND 2049280.0 AND 'Voltage' BETWEEN 1598978 AND 1854734 AND 'Global_intensity' BETWEEN 0.2 AND 805999 AND 'Global_reactive_power' BETWEEN 217125 AND 484385 AND 'Sub_metering_2' BETWEEN 0.0 AND 557881 AND 'Sub_metering_1' BETWEEN 724091 AND 839191;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 152456 AND 1523308 AND 'Voltage' BETWEEN 3.2399866790095677 AND 528728 AND 'Global_reactive_power' BETWEEN 1416838 AND 2049280.0 AND 'Global_intensity' BETWEEN 218042 AND 771976;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 122375 AND 505019 AND 'Global_intensity' BETWEEN 299429 AND 1048813;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 769675 AND 2049280.0 AND 'Voltage' BETWEEN 1389658 AND 2049280.0 AND 'Global_intensity' BETWEEN 1633629 AND 1795509 AND 'Global_active_power' BETWEEN 0.076 AND 1662987 AND 'Global_reactive_power' BETWEEN 1753582 AND 1995462;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 774354 AND 1744900 AND 'Global_reactive_power' BETWEEN 242861 AND 2049280.0 AND 'Sub_metering_3' BETWEEN 119936 AND 258926 AND 'Global_intensity' BETWEEN 683481 AND 896045 AND 'Sub_metering_2' BETWEEN 527509 AND 1086187 AND 'Global_active_power' BETWEEN 588829 AND 2049280.0 AND 'Voltage' BETWEEN 1285676 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 709483 AND 919981 AND 'Global_intensity' BETWEEN 269880 AND 2049280.0;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 135637 AND 1563515 AND 'Voltage' BETWEEN 127314 AND 1871074 AND 'Global_reactive_power' BETWEEN 749507 AND 1310133;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 0.0 AND 429907 AND 'Global_reactive_power' BETWEEN 514651 AND 1148595 AND 'Sub_metering_3' BETWEEN 595323 AND 1165815 AND 'Sub_metering_2' BETWEEN 1029077 AND 2049280.0 AND 'Global_active_power' BETWEEN 750862 AND 819588;
SELECT * FROM your_table WHERE 'Global_reactive_power' BETWEEN 1074002 AND 2049280.0 AND 'Global_intensity' BETWEEN 171455 AND 716553 AND 'Global_active_power' BETWEEN 1014079 AND 1484581 AND 'Sub_metering_3' BETWEEN 51150 AND 2033950 AND 'Sub_metering_2' BETWEEN 1363179 AND 1956285 AND 'Voltage' BETWEEN 3.2399866790095677 AND 592758 AND 'Sub_metering_1' BETWEEN 895194 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 0.0 AND 1640624 AND 'Sub_metering_3' BETWEEN 1334178 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 0.0 AND 762272 AND 'Global_reactive_power' BETWEEN 0.0 AND 1435769;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 226549 AND 1501209 AND 'Sub_metering_1' BETWEEN 456556 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 706546 AND 1764368;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 0.0 AND 1404437 AND 'Sub_metering_3' BETWEEN 95583 AND 878201 AND 'Global_intensity' BETWEEN 1055898 AND 2049280.0 AND 'Global_active_power' BETWEEN 751333 AND 1951301;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 0.076 AND 1053553 AND 'Global_reactive_power' BETWEEN 0.0 AND 1447603;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 1118497 AND 2049280.0 AND 'Voltage' BETWEEN 940223 AND 1654173 AND 'Global_intensity' BETWEEN 0.2 AND 1371127 AND 'Sub_metering_2' BETWEEN 1058268 AND 1952542 AND 'Global_active_power' BETWEEN 0.076 AND 1070373 AND 'Global_reactive_power' BETWEEN 1238082 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 1578498 AND 2049280.0 AND 'Sub_metering_3' BETWEEN 1250148 AND 2049280.0 AND 'Global_reactive_power' BETWEEN 0.0 AND 1786958;
SELECT * FROM your_table WHERE 'Global_reactive_power' BETWEEN 183754 AND 1564132 AND 'Sub_metering_1' BETWEEN 0.0 AND 1448121;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 3.2399866790095677 AND 365575 AND 'Sub_metering_1' BETWEEN 513789 AND 1319173 AND 'Global_intensity' BETWEEN 456232 AND 557142 AND 'Global_active_power' BETWEEN 0.076 AND 827991 AND 'Global_reactive_power' BETWEEN 777476 AND 2049280.0;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 1118625 AND 2049280.0 AND 'Sub_metering_3' BETWEEN 792612 AND 2049280.0 AND 'Global_intensity' BETWEEN 846179 AND 1187779 AND 'Sub_metering_2' BETWEEN 809319 AND 2049280.0 AND 'Voltage' BETWEEN 107067 AND 1749815;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 0.0 AND 1618165 AND 'Global_reactive_power' BETWEEN 726944 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 435411 AND 933873 AND 'Global_reactive_power' BETWEEN 1172730 AND 1330532 AND 'Sub_metering_2' BETWEEN 1001364 AND 2049280.0 AND 'Global_intensity' BETWEEN 641264 AND 1595422 AND 'Global_active_power' BETWEEN 0.076 AND 628901 AND 'Voltage' BETWEEN 192971 AND 1588783;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 1223769 AND 2049280.0 AND 'Global_active_power' BETWEEN 1404350 AND 2049280.0 AND 'Voltage' BETWEEN 1996220 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 462995 AND 1229051 AND 'Global_reactive_power' BETWEEN 0.0 AND 981931 AND 'Sub_metering_2' BETWEEN 1508137 AND 1750427 AND 'Sub_metering_3' BETWEEN 965665 AND 1536619;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 394054 AND 1145882 AND 'Voltage' BETWEEN 3.2399866790095677 AND 1198610 AND 'Sub_metering_3' BETWEEN 722056 AND 1346634;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 3.2399866790095677 AND 964635 AND 'Sub_metering_1' BETWEEN 0.0 AND 910764 AND 'Sub_metering_2' BETWEEN 0.0 AND 911251 AND 'Global_reactive_power' BETWEEN 852456 AND 949062 AND 'Global_intensity' BETWEEN 784709 AND 1130529;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 468746 AND 1198426 AND 'Global_intensity' BETWEEN 959987 AND 1731117 AND 'Sub_metering_1' BETWEEN 1233654 AND 1473052 AND 'Global_reactive_power' BETWEEN 18436 AND 399610;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 1040135 AND 2049280.0 AND 'Global_active_power' BETWEEN 0.076 AND 823811 AND 'Sub_metering_2' BETWEEN 1302577 AND 1873031 AND 'Sub_metering_1' BETWEEN 359105 AND 1248847;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 0.0 AND 1292652 AND 'Global_reactive_power' BETWEEN 882599 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 0.0 AND 862861 AND 'Global_intensity' BETWEEN 253826 AND 1065912;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 1552156 AND 2049280.0 AND 'Global_reactive_power' BETWEEN 1098369 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 883850 AND 907416 AND 'Voltage' BETWEEN 3.2399866790095677 AND 1218673 AND 'Sub_metering_2' BETWEEN 565073 AND 2049280.0;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 0.076 AND 975181 AND 'Global_reactive_power' BETWEEN 56590 AND 412472 AND 'Sub_metering_1' BETWEEN 183934 AND 1891734 AND 'Global_intensity' BETWEEN 144224 AND 1727940;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 0.0 AND 1486974 AND 'Sub_metering_1' BETWEEN 675756 AND 831320 AND 'Global_intensity' BETWEEN 142642 AND 1971472 AND 'Sub_metering_2' BETWEEN 400366 AND 1220838 AND 'Voltage' BETWEEN 622871 AND 1496011;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 1124897 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 1403406 AND 2049280.0 AND 'Global_intensity' BETWEEN 1342016 AND 2049280.0 AND 'Sub_metering_3' BETWEEN 964768 AND 2049280.0 AND 'Voltage' BETWEEN 3.2399866790095677 AND 525516 AND 'Sub_metering_2' BETWEEN 1427669 AND 2049280.0 AND 'Global_reactive_power' BETWEEN 0.0 AND 259994;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 3.2399866790095677 AND 979563 AND 'Sub_metering_2' BETWEEN 313374 AND 1863796 AND 'Sub_metering_1' BETWEEN 362675 AND 1627855 AND 'Global_reactive_power' BETWEEN 1215462 AND 1459822 AND 'Global_active_power' BETWEEN 0.076 AND 1256529 AND 'Sub_metering_3' BETWEEN 280626 AND 850450;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 891348 AND 2049280.0 AND 'Voltage' BETWEEN 162435 AND 915175 AND 'Sub_metering_2' BETWEEN 230931 AND 1793111 AND 'Sub_metering_1' BETWEEN 70076 AND 932668;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 0.0 AND 978953 AND 'Global_active_power' BETWEEN 908684 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 858049 AND 1595551 AND 'Global_reactive_power' BETWEEN 582736 AND 943388 AND 'Global_intensity' BETWEEN 1203210 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 142497 AND 970353;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 0.0 AND 1056359 AND 'Global_intensity' BETWEEN 1343486 AND 2049280.0 AND 'Global_reactive_power' BETWEEN 471925 AND 771613 AND 'Sub_metering_3' BETWEEN 0.0 AND 720482 AND 'Global_active_power' BETWEEN 1050593 AND 1899885 AND 'Voltage' BETWEEN 198892 AND 1623202;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 1825724 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 1819197 AND 2049280.0 AND 'Voltage' BETWEEN 740425 AND 2049280.0 AND 'Global_active_power' BETWEEN 769038 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 0.0 AND 1141441 AND 'Sub_metering_3' BETWEEN 0.0 AND 462295 AND 'Global_intensity' BETWEEN 0.2 AND 916069 AND 'Sub_metering_2' BETWEEN 749290 AND 2049280.0 AND 'Global_active_power' BETWEEN 1196443 AND 1730123;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 974717 AND 1185243 AND 'Sub_metering_2' BETWEEN 0.0 AND 884949 AND 'Global_active_power' BETWEEN 372855 AND 749587 AND 'Global_intensity' BETWEEN 151003 AND 906957 AND 'Sub_metering_1' BETWEEN 199719 AND 2045967 AND 'Sub_metering_3' BETWEEN 209054 AND 1234116 AND 'Global_reactive_power' BETWEEN 1027917 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 448076 AND 1289390 AND 'Global_intensity' BETWEEN 0.2 AND 394138 AND 'Voltage' BETWEEN 1060392 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 548112 AND 987434 AND 'Global_reactive_power' BETWEEN 96890 AND 960490 AND 'Sub_metering_1' BETWEEN 1086602 AND 2049280.0 AND 'Global_intensity' BETWEEN 832782 AND 2049280.0 AND 'Global_active_power' BETWEEN 665936 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 0.0 AND 1204202 AND 'Voltage' BETWEEN 1156751 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 0.0 AND 1343369 AND 'Sub_metering_3' BETWEEN 0.0 AND 660963 AND 'Sub_metering_2' BETWEEN 541613 AND 1113305 AND 'Global_intensity' BETWEEN 1621907 AND 2049280.0 AND 'Voltage' BETWEEN 902685 AND 1349255 AND 'Global_active_power' BETWEEN 1171886 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 915419 AND 1876363 AND 'Sub_metering_2' BETWEEN 128646 AND 1768018;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 0.0 AND 1416205 AND 'Voltage' BETWEEN 3.2399866790095677 AND 1698979;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 130275 AND 922399 AND 'Sub_metering_1' BETWEEN 1150261 AND 2049280.0 AND 'Voltage' BETWEEN 1281310 AND 1345608 AND 'Sub_metering_2' BETWEEN 1369033 AND 1875765 AND 'Sub_metering_3' BETWEEN 828993 AND 2032779 AND 'Global_reactive_power' BETWEEN 845696 AND 2049280.0;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 212204 AND 677130 AND 'Global_active_power' BETWEEN 411819 AND 673055 AND 'Sub_metering_3' BETWEEN 616367 AND 644321;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 571105 AND 1419575 AND 'Global_intensity' BETWEEN 566702 AND 1142020 AND 'Global_reactive_power' BETWEEN 1125501 AND 1569655;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 1489236 AND 1889370 AND 'Voltage' BETWEEN 36626 AND 458688;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 471961 AND 812243 AND 'Voltage' BETWEEN 1127061 AND 2049280.0 AND 'Sub_metering_1' BETWEEN 792174 AND 2006646;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 138287 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 396841 AND 397983 AND 'Global_intensity' BETWEEN 711515 AND 862309 AND 'Sub_metering_1' BETWEEN 0.0 AND 488730 AND 'Sub_metering_3' BETWEEN 758974 AND 1425496 AND 'Global_active_power' BETWEEN 0.076 AND 212574;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 97564 AND 471020 AND 'Global_active_power' BETWEEN 854710 AND 1402016;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 1201957 AND 1226439 AND 'Sub_metering_3' BETWEEN 759348 AND 1494594 AND 'Global_active_power' BETWEEN 827059 AND 1664619 AND 'Sub_metering_2' BETWEEN 0.0 AND 1544292 AND 'Voltage' BETWEEN 976758 AND 1072226;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 353438 AND 805212 AND 'Sub_metering_2' BETWEEN 0.0 AND 216159;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 1312003 AND 2049280.0 AND 'Global_intensity' BETWEEN 852246 AND 936068 AND 'Sub_metering_2' BETWEEN 0.0 AND 1602956 AND 'Global_reactive_power' BETWEEN 1844345 AND 1871659 AND 'Voltage' BETWEEN 149428 AND 1111228;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 44483 AND 57651 AND 'Sub_metering_2' BETWEEN 0.0 AND 683267 AND 'Sub_metering_3' BETWEEN 1215099 AND 2017381 AND 'Sub_metering_1' BETWEEN 879331 AND 1986531;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 465793 AND 2049280.0 AND 'Global_intensity' BETWEEN 494192 AND 1428020 AND 'Global_active_power' BETWEEN 284649 AND 1398923 AND 'Voltage' BETWEEN 65053 AND 1336201 AND 'Sub_metering_2' BETWEEN 0.0 AND 1265823 AND 'Global_reactive_power' BETWEEN 0.0 AND 813184;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 788746 AND 805098 AND 'Sub_metering_3' BETWEEN 126742 AND 690628 AND 'Global_active_power' BETWEEN 789682 AND 1528942;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 38738 AND 1359948 AND 'Global_active_power' BETWEEN 357078 AND 1571086;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 1071107 AND 1571681 AND 'Sub_metering_2' BETWEEN 139835 AND 2049280.0 AND 'Global_reactive_power' BETWEEN 118118 AND 1697534 AND 'Voltage' BETWEEN 1026985 AND 2049280.0 AND 'Global_active_power' BETWEEN 0.076 AND 1142496 AND 'Global_intensity' BETWEEN 0.2 AND 502233;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 740700 AND 1637992 AND 'Voltage' BETWEEN 732858 AND 2049280.0;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 828188 AND 885266 AND 'Sub_metering_1' BETWEEN 412859 AND 562771 AND 'Global_reactive_power' BETWEEN 0.0 AND 773986;
SELECT * FROM your_table WHERE 'Global_reactive_power' BETWEEN 0.0 AND 1223867 AND 'Sub_metering_3' BETWEEN 545161 AND 1889357 AND 'Voltage' BETWEEN 121697 AND 1835871 AND 'Sub_metering_1' BETWEEN 695675 AND 1120909;
SELECT * FROM your_table WHERE 'Global_active_power' BETWEEN 0.076 AND 337878 AND 'Global_intensity' BETWEEN 0.2 AND 645349 AND 'Sub_metering_3' BETWEEN 589917 AND 1335261 AND 'Voltage' BETWEEN 1191964 AND 1498872 AND 'Global_reactive_power' BETWEEN 0.0 AND 882441;
SELECT * FROM your_table WHERE 'Sub_metering_1' BETWEEN 1090787 AND 1704617 AND 'Global_reactive_power' BETWEEN 1229433 AND 1774453;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 0.0 AND 1753761 AND 'Global_active_power' BETWEEN 709888 AND 1243642 AND 'Voltage' BETWEEN 552619 AND 1795483 AND 'Sub_metering_1' BETWEEN 1221067 AND 1255635;
SELECT * FROM your_table WHERE 'Sub_metering_2' BETWEEN 5066 AND 995826 AND 'Global_active_power' BETWEEN 500764 AND 742758 AND 'Global_intensity' BETWEEN 0.2 AND 637679 AND 'Voltage' BETWEEN 1216958 AND 1680186 AND 'Sub_metering_1' BETWEEN 1383414 AND 1666502 AND 'Global_reactive_power' BETWEEN 1588127 AND 1931607;
SELECT * FROM your_table WHERE 'Voltage' BETWEEN 1132169 AND 1944149 AND 'Sub_metering_2' BETWEEN 0.0 AND 389951 AND 'Sub_metering_3' BETWEEN 122416 AND 1684980;
SELECT * FROM your_table WHERE 'Global_intensity' BETWEEN 979672 AND 2049280.0 AND 'Sub_metering_2' BETWEEN 0.0 AND 1400714 AND 'Sub_metering_1' BETWEEN 217694 AND 1059174 AND 'Global_active_power' BETWEEN 854534 AND 1870934;
SELECT * FROM your_table WHERE 'Sub_metering_3' BETWEEN 644950 AND 1796526 AND 'Sub_metering_1' BETWEEN 1830745 AND 2049280.0 AND 'Global_intensity' BETWEEN 562833 AND 2049280.0 AND 'Voltage' BETWEEN 129551 AND 1680139 AND 'Sub_metering_2' BETWEEN 0.0 AND 650469 AND 'Global_reactive_power' BETWEEN 0.0 AND 916361 AND 'Global_active_power' BETWEEN 1644839 AND 2049280.0;

In [ ]:
import pandas as pd
import numpy as np
import itertools


data = {
    'Global_active_power': np.random.uniform(0.076, 11.122, 1000),
    'Global_reactive_power': np.random.uniform(0.0, 1.39, 1000),
    'Voltage': np.random.uniform(223.2, 254.15, 1000),
    'Global_intensity': np.random.uniform(0.2, 48.4, 1000),
    'Sub_metering_1': np.random.uniform(0.0, 88.0, 1000),
    'Sub_metering_2': np.random.uniform(0.0, 80.0, 1000),
    'Sub_metering_3': np.random.uniform(0.0, 31.0, 1000),
}
df = pd.DataFrame(data)

numeric_attributes = list(data.keys())

def generate_distribution_based_query(df, attributes):
    conditions = []
    for attr in attributes:
        attr_min, attr_max = df[attr].min(), df[attr].max()
        value1 = np.random.uniform(attr_min, attr_max)
        value2 = np.random.uniform(attr_min, attr_max)

        minValue = min(value1, value2)
        maxValue = max(value2, value1)
        conditions.append(f"\"{attr}\" BETWEEN {minValue:.2f} AND {maxValue:.2f}")

    print(conditions)
    return "SELECT * FROM your_table WHERE " + " AND ".join(conditions) + ";"

def generate_tuple_based_query(df, attributes):
    sample = df.sample(1, random_state=42)
    sample2 = df.sample(1, random_state=43)
    minValue = min(sample.iloc[0][attr], sample2.iloc[0][attr])
    maxValue = max(sample.iloc[0][attr], sample2.iloc[0][attr])
    conditions = [f"\"{attr}\" BETWEEN {minValue:.2f} AND {maxValue:.2f}" for attr in attributes]
    return "SELECT * FROM your_table WHERE " + " AND ".join(conditions) + ";"

# Generate SQL queries
num_queries = 6  # Example number of queries to generate
queries = []

for _ in range(num_queries // 2):  # Half based on distribution
    num_attrs = np.random.randint(2, len(numeric_attributes) + 1)
    selected_attrs = np.random.choice(numeric_attributes, size=num_attrs, replace=False)
    query = generate_distribution_based_query(df, selected_attrs)
    queries.append(query)

for _ in range(num_queries // 2):  # Half based on data tuples
    num_attrs = np.random.randint(2, len(numeric_attributes) + 1)
    selected_attrs = np.random.choice(numeric_attributes, size=num_attrs, replace=False)
    query = generate_tuple_based_query(df, selected_attrs)
    queries.append(query)

# Example: Print the first few queries
for query in queries[:5]:
    print(query)

['"Global_reactive_power" BETWEEN 0.09 AND 0.49', '"Sub_metering_1" BETWEEN 15.00 AND 67.09', '"Sub_metering_2" BETWEEN 7.46 AND 29.96', '"Voltage" BETWEEN 243.66 AND 253.67', '"Sub_metering_3" BETWEEN 20.60 AND 24.25', '"Global_active_power" BETWEEN 4.26 AND 7.56']
['"Global_reactive_power" BETWEEN 0.48 AND 1.12', '"Voltage" BETWEEN 241.12 AND 246.26', '"Global_intensity" BETWEEN 14.68 AND 42.54', '"Sub_metering_2" BETWEEN 73.20 AND 74.34', '"Sub_metering_3" BETWEEN 18.35 AND 19.68', '"Sub_metering_1" BETWEEN 29.92 AND 43.77']
['"Sub_metering_2" BETWEEN 17.14 AND 27.70', '"Global_active_power" BETWEEN 3.83 AND 7.37', '"Sub_metering_1" BETWEEN 2.85 AND 49.12', '"Voltage" BETWEEN 243.32 AND 251.75', '"Global_intensity" BETWEEN 28.11 AND 37.62']
SELECT * FROM your_table WHERE "Global_reactive_power" BETWEEN 0.09 AND 0.49 AND "Sub_metering_1" BETWEEN 15.00 AND 67.09 AND "Sub_metering_2" BETWEEN 7.46 AND 29.96 AND "Voltage" BETWEEN 243.66 AND 253.67 AND "Sub_metering_3" BETWEEN 20.60 AND 24.25 AND "Global_active_power" BETWEEN 4.26 AND 7.56;
SELECT * FROM your_table WHERE "Global_reactive_power" BETWEEN 0.48 AND 1.12 AND "Voltage" BETWEEN 241.12 AND 246.26 AND "Global_intensity" BETWEEN 14.68 AND 42.54 AND "Sub_metering_2" BETWEEN 73.20 AND 74.34 AND "Sub_metering_3" BETWEEN 18.35 AND 19.68 AND "Sub_metering_1" BETWEEN 29.92 AND 43.77;
SELECT * FROM your_table WHERE "Sub_metering_2" BETWEEN 17.14 AND 27.70 AND "Global_active_power" BETWEEN 3.83 AND 7.37 AND "Sub_metering_1" BETWEEN 2.85 AND 49.12 AND "Voltage" BETWEEN 243.32 AND 251.75 AND "Global_intensity" BETWEEN 28.11 AND 37.62;
SELECT * FROM your_table WHERE "Global_intensity" BETWEEN 22.76 AND 34.55 AND "Sub_metering_1" BETWEEN 22.76 AND 34.55 AND "Sub_metering_3" BETWEEN 22.76 AND 34.55 AND "Voltage" BETWEEN 22.76 AND 34.55;
SELECT * FROM your_table WHERE "Voltage" BETWEEN 22.76 AND 34.55 AND "Global_active_power" BETWEEN 22.76 AND 34.55;

X = [[10, 20, 40, 100, 30, 60],
[15, 22, 25, 35, 45, 75]]   #--> 20000*20

Y = [500,
     15]


Index,  A1              A2          A3       u6u
1       (10, 20)        (20, 25)    (15, 20) (0,0)

[0,0,0,0,0,0,0,0,0,0]
d={'asp':4,,,,,}

df[(d[attr]-1)*2 +1]
df[(d[attr]-1)*2 +2]

In [ ]:
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader

In [ ]:
class SelectivityMLP(torch.nn.Module):
  def __init__(self, dimension):
    super.__init__(SelectivityMLP)

    self.layers = nn.Sequential(
        nn.Linear(in_features=dimension, out_features=128),
        nn.ReLU(),
        nn.Linear(in_features=128, out_features=32), #Hidden Layer 1
        nn.ReLU(),
        nn.Linear(in_features=32, out_features=1), #Hidden Layer 2

    )

    def forward(self, X):
      return self.layers(X)

In [ ]:
class PowerDataset(Dataset):
  def __init__(self, X, y):
    #Todo: Define dataset
    self.features = X
    self.labels

  def __getitem__(self, index):
    #Todo return x, y
    return self.features[index], self.labels[index]

In [ ]:
def train(model, optimizer, train_dataset, val_dataset, epochs=100):

  for epoch in range(epochs):

    verbose = False

    if epoch % 4 == 0:
      verbose = True

    model.train()

    train_dataloader = DataLoader(train_dataset, batch_size=256, shuffle=True)
    val_dataloader = DataLoader(val_dataset, batch_size=256, shuffle=True)

    for query, label in train_dataloader:
      y_pred = model(query)

      #Todo: Train accuracy check

    for vquery, vlabel in val_dataloader:
      y_pred_val = model.predict(vquery)

      #Todo: Val accuracy check